<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anachronda.www.thecompletedndcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:name="com.activeandroid.app.Application">
        <meta-data android:name="AA_DB_NAME" android:value="dnd.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="3" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.anachronda.www.thecompletedndcompanion.Background, com.anachronda.www.thecompletedndcompanion.Character, com.anachronda.www.thecompletedndcompanion.Class, com.anachronda.www.thecompletedndcompanion.Race" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterManager"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DiceTool"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SpellSkillManager"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LootMerchant"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewCharacter"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NewSpellbook"></activity>
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.anachronda.www.thecompletedndcompanion"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>